<header class="header fixed-part flex-align-c">
  <p class="myname-nav">David Davies</p>
  <nav>
    <ul class="header-nav-list flex-align-c">
      <li>
        <a class="header-nav-link" href="/" alt="home page link">Home</a>
      </li>
      <li>
        <a class="header-nav-link" href="/logout" alt="login">Login</a>
      </li>
    </ul>
  </nav>
</header>
<div>
  <h1 class="heading-primary">TECH BLOG</h1>
</div>
{{>newBlogBtn}}