<header class="header fixed-part flex-align-c">
  <p class="myname-nav">David Davies</p>
  <nav>
    <ul class="header-nav-list flex-align-c">
          <li>
        <a class="header-nav-link" href="/login" alt="login">Login</a>
      </li>
    </ul>
  </nav>
</header>
<div>
  <h1 class="heading-primary">TECH BLOG</h1>
</div>
<div class="card bdr-style-two">
  <p class="">Welcome to my tech blog. Feel free to look around and read some of
    the latest blogs. If you would like to make a comment to any of the ones you
    read or would like to add some blogs yourself please create your own
    account.
  </p>
  <div class="flex-align-c">
    <a
      class="link-btn-cta all-btns mSm btnDash"
      href="/blogs"
      alt="blog page link"
    >Click To View All Tech Blogs</a>
  </div>
</div>