<div class="card bdr-style-two">
  <p class="">If you would like to add a new tech blog post please click on the
    button and share what you know or what you are thinking about what is going
    on in the Tech World.
  </p>
  <div class="flex-align-c">
    <a
      class="link-btn-cta all-btns mSm btnDash"
      href="/dashboard/new"
      alt="Add a new blog"
    >New Tech Blog</a>
  </div>
</div>