<div class="card bdr-style-two">
  <p class="">Welcome back! What do you wants the plan for today? Maybe you just
    want to read some of your old blogs to reignite those tired braincells or
    maybe update one or two of them with more updated info, or is it time to say
    goodbye and give some the boot?

  </p>
  <div class="flex-align-c">
    <a
      class="link-btn-cta all-btns mSm btnDash"
      href="/dashboard/blogs"
      alt="blog page link"
    >Tech Blog Dashboard</a>
  </div>
</div>