<div class="cardMd bdr-style-one">
  <div class="cardLog">
    <div class="cardTitle">
      <h2>User Login</h2>
    </div>
    <div id="login-form" class="cardLog bdr-style-one">
      <div>
        <label for="userLogin">Username</label>
        <input type="text" id="userLogin" class="input-box" />
      </div>
      <div>
        <label for="passLogin" class="form-label">Password</label>
        <input type="password" id="passLogin" class="input-box" />
      </div>
      <div class="flex-align-c ">
      <button type="submit" id="login-btn" class="all-btns link-btn-cta">Login</button>
      <a class="all-btns link-btn-cta mSm" href="/signup">Sign Up</a>
      </div>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>