<div class="cardMd bdr-style-one">
  <div class="card">
    <div class="cardTitle">
      <h2>Create New Post</h2>
    </div>
       <form id="new-blog-form" class="new-blog-form card bdr-style-one">
      <label for="blog_title">Title</label>
      <input type="text" name="blog_title" id="blog_title" class="input-box" />

      <label for="blog_contents">Content</label>
      <textarea name="blog_contents" id="blog_contents"class="input-box"></textarea>
      <div class="flex-align-c">
        <button type="submit" class="all-btns link-btn-cta">Create</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/new.js"></script>