<div class="cardMd bdr-style-one">
  <div class="card">
    <div class="cardTitle">
      <h2>Create New Post</h2>
    </div>
    <form id="new-blog-form" class="card bdr-style-one">
      <label for="blog-title">Title</label>
      <input type="text" name="blog-title" class="input-box" />

      <label for="blog-body">Content</label>
      <textarea name="blog-body" class="input-box"></textarea>
      <div class="flex-align-c">
        <button type="submit" class="all-btns link-btn-cta">Create</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/new.js"></script>