{{>headerNav}}
<div class="cardMd bdr-style-one">
  <div class="cardLog">
    <div class="cardTitle">
      <h2>Sign Up</h2>
    </div>
    <div>
      <form id="signup-form" class="signup-form cardSignup bdr-style-one">
        <div>
          <label for="user_signup">Enter a Username</label>
          <input type="text" id="user_signup" class="input-box" />
        </div>
        <div>
          <label for="pass_signup">Enter a Password</label>
          <input type="password" id="pass_signup" class="input-box" />
        </div>
        <div class="flex-align-c">
          <button
            type="submit"
            id="signup-btn"
            class="all-btns link-btn-cta"
          >Sign Up</button>
          <a class="all-btns link-btn-cta msm" href="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>