<section>
  <div class="blogCard bdr-style-one ">
      <div class="blogTitle">  {{this.id}}. {{this.title}}
      </div>
    <p>{{contents}}</p>
    <div class="postedBy">posted by: {{user.username}} on 
    </div>
  </div>
</section>


