@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --primary: #071b45;
  --secondary: #ffdd19;
  --tertiary: #fdf2f2;
  --error: rgb(228, 46, 1);
  --border-radius: 0.4rem;
  --bg-color: rgba(7, 27, 69, 0.9);
  --bg-colorTwo: #063250;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.5);
}

/* Header Section */

.header {
  justify-content: space-between;
  background-color: var(--primary);
  border-bottom: 1px solid #ffdd19;
  height: 5.6rem;
  padding: 0 4.8rem;
  box-shadow: var(--box-shadow);
}

/*  Navagation Bar   */

.myname-nav {
  font-size: 1.6rem;
  margin-right: 3.8rem;
}

.header-nav-list {
  list-style: none;
  gap: 3.8rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--tertiary);
  font-size: 1.6rem;
  font-weight: 500;

  /*Animation slows colour transition*/
  transition: all 0.5s;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #a00000;
}

.container {
  max-width: 96rem;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.cardMd{
  justify-content: center;
  max-width: 38rem;
  margin: auto;
  margin-top: 2rem;
overflow: hidden;
  }
.card {
  background: var(--bg-color);
  color: var(--tertiary);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
  text-align: justify;
}
.blogCard {
  background: var(--bg-color);
  color: var(--tertiary);
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
}

.cardLog {
  background: var(--bg-color);
  color: var(--tertiary);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.cardSignup, .cardlogin {
  background: var(--bg-colorTwo);
  color: var(--tertiary);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.cardTitle{
  font-size: 1.8rem;
  font-weight: 500;
  color:var(--secondary);
  text-align:center;
  margin-bottom: 1.2rem;
 
}

.blogTitle{
  font-size: 1.8rem;
  font-weight: 500;
  color:var(--secondary);
  margin-bottom: 1rem;
 
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.4rem;
}

.postedBy{
  font-size: 1.4rem;
  color: var(--secondary)
}